

<div id="container">
  <div class="profile-picture">
    <p>
      <%= simple_form_for(@cocktail, html: { multipart: true }) do |f| %>
         <%= f.error_notification %>

         <%= f.input :name, required: true %>
         <p>
           <%= f.label :picture %>
           <%= f.file_field :picture %>
         </p>

         <%= f.button :submit %>
      <% end %>
    </p>
  </div>
</div>

<div id="container">
  <div class="my-profile">
    <h1>Hey, <%= @user.first_name %>! </h1>
    <h2>Here is your profile information:</h2>
    <p>name: <%= @user.first_name %> <%= @user.last_name %></p>
    <p>birthday: <%= @user.birthdate %></p>
    <p>gender: <%= @user.gender %></p>
    <p>description: <%= @user.description %></p>
    <p>phone-number: <%= @user.phone_number %></p>
    <p>e-mail: <%= @user.account.email %></p>
  </div>
</div>

<div id="container">
  <div class="profile-list-accommodations">
    <h2>Here is a list of your accommodations:</h2>
    <p>
      <ul>
        <% @user.accommodations.each do |accommodation| %>
            <li> <%= accommodation.title %> </li>
            <li> <%= accommodation.description %> </li>
            <li> <%= accommodation.price %> </li>
            <li> <%= accommodation.type %> </li>
            <li> <%= accommodation.guest_number %> </li>
            <br>
            <br>
          <% end %>
      </ul>
    </p>
  </div>
</div>

<div id="container">
  <div class="list-reviews">
    <h2>Your reviews:</h2>
    <p>
      <ul>
        <% @user.reviews.each do |review| %>
            <li> <%= review.rating %> </li>
            <li> <%= accommodation.description %> </li>
            <br>
            <br>
          <% end <%>
      </ul>
    </p>
  </div>
</div>

<div id="container">
  <div class="list-bookings">
    <h2>Your bookings:</h2>
    <p>
      <ul>
        <% @user.bookings.each do |booking| %>
            <li> <%= booking.price %> </li>
            <li> <%= booking.description %> </li>
            <br>
            <br>
          <% end <%>
      </ul>
    </p>
  </div>
</div>
