<div>
  <h1 class="text-center">Create user account:</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>

          <%= f.input :first_name, label: "name" %>
          <%= f.input :last_name, label: 'last_name' %>
          <%= f.input :birthdate, label: 'birthdate' %>
          <%= f.input :gender, label: 'gender' %>
          <%= f.input :description, label: 'description' %>
          <%= f.input :phone_number, label: 'phone number' %>
          <%= f.submit "submit" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
