<h3><%= @user.first_name %></h3>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>
<p><%= @user.birthdate %></p>
<p><%= @user.gender %></p>
<p><%= @user.description %></p>
<p><%= @user.phone %></p>
