<div>
  <h1 class="text-center">Create a new review</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <%= simple_form_for [@accommodation, @review] do |f| %>
          <%= f.error_notification %>
          <%= f.input :description %>
          <%= f.input :rating, collection: 0..5 %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
