<h1>List of accommodations</h1>

<% @accommodations.each do |a| %>

  <%= link_to a.title + " (" + a.description + ")", accommodation_path(a) %><br>
<% end %><br>

<%= link_to "Create new Accommodation", new_accommodation_path %>

<% if account_signed_in? %>
  Hello <%= current_account.email %>!
  <%= link_to 'Sign out', destroy_account_session_path, method: 'delete', class: "btn btn-danger" %>
<% else %>
  <%= link_to 'Sign up', new_account_registration_path, class: "btn btn-primary" %>
  <%= link_to 'Sign in', new_account_session_path, class: "btn btn-success" %>
<% end %>
