<h1>our search box</h1>

<%= simple_form_for(@search_query, method: 'get', url:accommodations_path) do |f| %>

  <% if @search_query.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@search_query.errors.count, "error") %> prohibited this search query from being performed:
      </h2>
      <ul>
        <% @search_query.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :location %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :number_rooms, required: true %>

  <%= f.button :submit %>
<% end %>


<h1>List of accommodations</h1>

<% @accommodations.each do |a| %>

  <%= link_to a.title + " (" + a.guest_number.to_s + ")", accommodation_path(a) %><br>
<% end %><br>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>


