<div>
  <h1 class="text-center">Create a new accommodation:</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">

        <%= simple_form_for([@user, @accommodation], html: { class: 'form-horizontal' }) do |f| %>

        <%= @user %>
        <%= @accommodation %>

          <%= f.input :title, label: "give it a name" %>
          <%= f.input :description, label: 'add a description' %>
          <%= f.input :price, label: 'add a price' %>
          <%= f.input :location, input_html: { id: 'gmaps-input-address' }, label: 'add a location' %>
          <%= f.input :type, collection: ["entire flat/house", "private room", "shared room"], label: 'add a type' %>
          <%= f.input :guest_number, label: 'how many people can it host?' %>
          <%= f.submit "List your accommodation" %>


        <% end %>

        <!-- Custom JS code to bind to Autocomplete API -->

      </div>
    </div>
  </div>
</div>

<div id="map" style="position: relative; width: 100%; height: 600px;">

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
    <% end %>
  <% end %>
  </div>

