<div>
  <h1 class="text-center">Create a new accommodation:</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">

        <%= simple_form_for([@user, @accommodation], html: { class: 'form-horizontal' }, html: { novalidate: true, role: "form" }) do |f| %>

          <%= f.input :title, label: "give it a name" %>
          <%= f.input :description, label: 'add a description' %>
          <%= f.input :price, label: 'add a price' %>

          <%= f.input :type, collection: ["entire flat/house", "private room", "shared room"], label: 'add a type' %>
          <%= f.input :guest_number, label: 'how many people can it host?' %>
<!--           f.input :start_date, label: 'start date?'
          f.input :end_date, label: 'end date?' -->

          <div class="form-group">
            <%= f.input :location, placeholder: 'Start typing a place name...', class: "form-control" %>
            <div id='gmaps-error'></div>
            <div id='gmaps-canvas'></div>
          </div>
          <%= f.submit "List your accommodation" %>

        <% end %>

      </div>
    </div>
  </div>
</div>
