<%= link_to "back", accommodations_path %><br><br>

<h2><%= @accommodation.title %></h2>
<div id="map" style="width: 100%; height: 200px;"></div>

    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function(){
            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(12);

          });
        })

      <% end %>
    <% end %>
<br>
<% @accommodation.pictures.each do |ap| %>
  <p><%= image_tag ap.file.url(:medium) %></p>
<% end %>

<h3>
  <% if (account_signed_in? && current_account == @accommodation.user.account) %>
    <%= link_to "edit your room", edit_user_accommodation_path(current_account.user.id, @accommodation) %>
  <% elsif account_signed_in? %>
    <%= link_to "book the room", new_user_accommodation_booking_path(current_account.user.id, @accommodation ) %>
  <% else %>
    Log in to book the room
  <% end %>
</h3>

<h4>has:</h4>

<ul>

<li><%= @accommodation.description %></li>
<li><%= @accommodation.price %></li>
<li><%= @accommodation.type %></li>
<li><%= @accommodation.guest_number %></li>

<% @accommodation.availabilities.each do |aa| %>
  <li>Available from <%= aa.start_date.to_s %>
    to <%= aa.end_date.to_s %>
    <% if (account_signed_in? && current_account != @accommodation.user.account) %>

      <%= link_to new_user_accommodation_booking_path(current_account.user.id, aa) do %>
          <p>Book now</p>
      <% end %>

    <% end %>
  </li>
<% end %>


</ul><br>

<h4>reviews:</h4>

<ul>
<% @accommodation.reviews.each do |ar| %>
<li><% ar.rating.times do |x| %>*<% end %> <%= ar.description %></li>
<% end %>
</ul>

<!-- marc -->

<div class="outer-list-of-accommodations">
 <div class="list-of-accommodations">
   <div class="row">
     <div class="col-sm-12 row-space-2 col-md-6">
       <div class = "accommodation-image">


       <div class = "accommodation-panel">

         </div>
       </div>
     </div>
   </div>
 </div>
</div>
