<%= link_to "back", accommodations_path %><br><br>

<h2><%= @accommodation.title %></h2>

<h4>has:</h4>

<ul>

<li><%= @accommodation.description %></li>
<li><%= @accommodation.price %></li>
<li><%= @accommodation.type %></li>
<li><%= @accommodation.guest_number %></li>

</ul><br>

<h4>reviews:</h4>

<ul>
<% @accommodation.reviews.each do |ar| %>
<li><% ar.rating.times do |x| %>*<% end %> <%= ar.description %></li>
<% end %>
</ul>

<%= link_to "rate the place", new_accommodation_review_path(@accommodation) %>
