<%= link_to "back", accommodations_path %><br><br>

<h2><%= @accommodation.title %></h2>
<% @accommodation.pictures.each do |ap| %>
  <p><%= image_tag ap.file.url(:thumb) %></p>
<% end %>

<% if (account_signed_in? && current_account == @accommodation.user.account) %>
  <%= link_to "edit your room", edit_user_accommodation_path(current_account.user.id, @accommodation) %>
<% end %>

<h4>has:</h4>

<ul>

<li><%= @accommodation.description %></li>
<li><%= @accommodation.price %></li>
<li><%= @accommodation.type %></li>
<li><%= @accommodation.guest_number %></li>
<li><%= @accommodation.start_date%></li>
<li><%= @accommodation.end_date %></li>

</ul><br>

<div id="map" style="width: 100%; height: 150px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>

<h4>reviews:</h4>

<ul>
<% @accommodation.reviews.each do |ar| %>
<li><% ar.rating.times do |x| %>*<% end %> <%= ar.description %></li>
<% end %>
</ul>
