<%= link_to "back", accommodations_path %><br><br>


<div class="container">
  <div class='row'>
  <h2><%= @accommodation.title.upcase %></h2>
  <br>
  <br>

  <% @accommodation.pictures.each do |ap| %>
  <%= image_tag ap.file.url(:original), class: 'full-width' %>
  <% end %>
  <br>
  <br>
  <% if (account_signed_in? && current_account == @accommodation.user.account) %>
  <%= link_to "edit your room", edit_user_accommodation_path(current_account.user.id, @accommodation) %>
  <% end %>
  <br>
  </div>
</div>


<ul>
<div id= "container">
  <div class="card">
    <div id="description">
    <h2> Description: </h2><br>
    <p><%= @accommodation.description %></p>
  </div>
  <div id="price">
    <h3> Price/day: </h3>
    <p><%= @accommodation.price %><strong> $$$ bro </strong></p>
  </div>
<br>
<div id="type">
<h3> What's that bitte?: </h3>
<p><%= @accommodation.type %></p>
</div>
<br>
<h3> Guests capacity: </h3>
<p><%= @accommodation.guest_number %></p>

<h3>reviews:</h3>
<ul><% @accommodation.reviews.each do |ar| %>
<li><% ar.rating.times do |x| %>*<% end %> <%= ar.description %></li>
<% end %>
</ul>
</div>


</ul><br>

<div id="map" style="width: 100%; height: 150px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>

<!-- marc -->
