<%= link_to "back", accommodations_path %><br><br>

<h2><%= @accommodation.title %></h2>
<% @accommodation.pictures.each do |ap| %>
  <p><%= ap.caption %></p>
  <p><%= image_tag ap.file.url(:thumb) %></p>
<% end %>

<h4>has:</h4>

<ul>

<li><%= @accommodation.description %></li>
<li><%= @accommodation.price %></li>
<li><%= @accommodation.type %></li>
<li><%= @accommodation.guest_number %></li>

</ul><br>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @accommodation_coordinates %>;
      alert('coordinates:' + coord.lat + ', ' + coord.lng );
    });
  <% end %>
<% end %>

<h4>reviews:</h4>

<ul>
<% @accommodation.reviews.each do |ar| %>
<li><% ar.rating.times do |x| %>*<% end %> <%= ar.description %></li>
<% end %>
</ul>

<%= link_to "rate the place", new_accommodation_review_path(@accommodation) %><br>
<%= link_to "add a picture", new_accommodation_picture_path(@accommodation) %>
