<%= simple_form_for([@accommodation, @picture], html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <p>
    <%= f.label :file %>
    <%= f.file_field :file %>
  </p>

  <%= f.button :submit %>
<% end %>
