<h1>here comes search box</h1>

<%= simple_form_for(@search) do |f| %>
  <%= f.error_notification %>

  <%= f.input :location, required: true %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :number_rooms %>

  <%= f.button :submit %>
<% end %>
